
.journal-item{
    border-radius: 3px;
    padding: 20px;
    color:#fff;
    /* background-color: rgba(255,255,255,0.03); */
    background-color: #9c9c9c;
}


.journal-item__header{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.journal-item__content{
    display: flex;
    gap:10px
}



.journal-item__date{
    color:rgba(255,255,255,0.4);
    font-size: 16px;
    font-weight: 400;
    line-height:normal;
    font-style: normal;
}

.journal-item__text{
    color:rgba(255,255,255,0.6);
    font-size: 16px;
    font-weight: 400;
    line-height:normal;
    font-style: normal;
    overflow: hidden;
}

