.journal-form{
    display: flex;
    flex-direction: column;
    gap:30px;
}



.input-title{
    border:none;
    background:none;
    font-size: 32px;
    font-weight: 600;
    color:#fff;
    font-family: 'Source Sans 3',sans-serif;
    border-bottom: 1px solid #5e5e5e;
    width: 100%;

}

.form-row{
    display: inline-flex;
    align-items: center;
    gap:50px;
    /* border-bottom: 1px solid #5e5e5e; */
}

.form-label{
    display: flex;
    align-items: center;
    gap:20px;
    min-width: 150px;

}

.input{
    border:none;
    background:none;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
    font-family: 'Source Sans 3',sans-serif;
    border-bottom: 1px solid #5e5e5e;
    width: 100%;
}

.invalid{
    border:3px solid red;
}